.u-section-1 .u-sheet-1 {
  min-height: 724px;
}

.u-section-1 .u-text-1 {
  margin: 51px 346px 0 423px;
}

.u-section-1 .u-form-1 {
  height: 107px;
  margin: 9px 197px 0 335px;
}

.u-section-1 .u-btn-1 {
  padding: 11px 30px 11px 29px;
}

.u-section-1 .u-image-1 {
  width: 541px;
  height: 439px;
  margin: 46px 250px 44px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 246px;
    margin-left: 283px;
    width: 294px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 97px;
    margin-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 136px;
    margin-left: 217px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 46px;
    margin-left: 163px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 438px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 103px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 276px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 207px;
}