 .u-section-1 {
  min-height: 793px;
}

.u-section-1 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 633px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-image-1 {
  width: 218px;
  height: 309px;
  margin: 15px 494px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 0 523px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 0.625rem;
  margin: 10px 289px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 10px 494px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 10px 575px 0 633px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 15px 544px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-text-1 {
    margin-right: 431px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 407px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 475px;
    margin-left: 533px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-text-1 {
    margin-right: 330px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 221px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 312px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 365px;
    margin-left: 423px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 124px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    margin-right: 322px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 248px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 166px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 275px;
    margin-left: 333px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    margin-right: 122px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 156px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 147px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 175px;
    margin-left: 233px;
  }
}